# Assignment_4

### 1. What exactly is [ ]?

**Ans.** [ ] is used to represent a list. List is a collection which can store hetrogenous data in one variable. [ ] represents an empty list.

### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)


**Ans.**
``sapam[2]='hello'``

In [1]:
spam=[2,4,6,8,10]
print(spam)
spam[2]='hello'
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

### 3. What is the value of spam[int(int('3' * 2) / 11)]?

**Ans.**
'd'

In [2]:
spam=['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

### 4. What is the value of spam[-1]?

**Ans.**
'd'

In [3]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

**Ans.** 
['a', 'b']

In [4]:
spam[:2]

['a', 'b']

<!-- Corrected the list (comma inside the quotes) -->
## Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

### 6. What is the value of bacon.index('cat')?

**Ans.**
1

In [5]:
bacon=[3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

**Ans.**
The number 99 will be added at the last inside the list.

[3.14, 'cat', 11, 'cat', True, 99]

In [6]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

**Ans.**
First instance of 'cat' in the list will be removed.

[3.14, 11, 'cat', True]

In [7]:
bacon=[3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

### 9. What are the list concatenation and list replication operators?

**Ans.**
* List concatenation operator is used to join 2 or more list and get a single list. ``+``
* List replication operator is used to repeate the content of list for given number of times inside a single list. ``*``

In [8]:
i=[1,2,5,3,4]
j=['a','c','d']

i*3

[1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4]

### 10. What is difference between the list methods append() and insert()?

**Ans.** 
* ``append()`` Add an element to the end of the list
* ``insert()`` Insert an element at the defined index

In [9]:
i=[1,2,3,4,5,6,7]
i.append('a')
print('Using append: ',i)
i.insert(3,'b')
print('Using insert: ',i)

Using append:  [1, 2, 3, 4, 5, 6, 7, 'a']
Using insert:  [1, 2, 3, 'b', 4, 5, 6, 7, 'a']

### 11. What are the two methods for removing items from a list?

**Ans.** 
* ``Remove()`` : Removes an element from the list
* ``Pop()`` : Removes and returns an element at the given index

### 12. Describe how list values and string values are identical.

**Ans.** List values and string values are same in the sense that both can be sliced in same way and most functions can be used for both except of append(),insert() etc in case of tuple.

In [10]:
a = [1,2,3,4,5] #list
b = (1,2,3,8,6) #tuple

print(a[-1])
print(b[-2])

5
8

### 13. What's the difference between tuples and lists?

**Ans.** Tuples are imutable while list is a mutable entity. tuple is stored using () round brackets and list is stored using [] square brackets.

In [11]:
a.append(22)
a

[1, 2, 3, 4, 5, 22]

In [12]:
b.append(56)

AttributeError: 'tuple' object has no attribute 'append'

### 14. How do you type a tuple value that only contains the integer 42?

**Ans.** We can do it in two ways, creating a list and converting it to a tuple or put value in tuple using a comma at the end.

In [13]:
n=(42,)
type(n)

tuple

In [14]:
d=tuple([42])
d

(42,)

In [15]:
m=[42]
m=tuple(m)
m

(42,)

### 15. How do you get a list value's form tuple? How do you get a tuple value's form list?

**Ans.** The ``tuple()`` and ``list()`` functions, respectively are used to convert a list to tuple and vice versa

In [16]:
a=(4,5,'sad',68.35)
print(type(a))
b=list(a)
print(a,":",type(b))
c=tuple(b)
print(b,":",type(c))

<class 'tuple'>
(4, 5, 'sad', 68.35) : <class 'list'>
[4, 5, 'sad', 68.35] : <class 'tuple'>

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

**Ans.** Variables that contain list can be a list or tuple.

In [17]:
y=[[1,2],3,[5,6]]
z=([1,8],4,[52,6])

print(type(y))
print(type(z))

<class 'list'>
<class 'tuple'>

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

**Ans.** The ``copy.copy()`` function will do a shallow copy of a list, while the ``copy.deepcopy()`` function will do a deep copy of a list i.e. only ``copy.deepcopy()`` will duplicate any lists inside the list.